<div class="comments">
    {{#each this}}
    <section class="comments">
        <div>
            {{user.name}} on {{date_created}}
        </div>
        <div class="text">
            {{comment}}
        </div>
    </section>
    {{/each}}
</div>