<form>
  <div class="comment-form">
    <label for="addComment">Add a comment!</label>
    <input type="comment" class="form-control" id="addComment" placeholder="Add your comment here!">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>